In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv(r"C:\Users\hp\Desktop\My DS Projects\Hamoye internship\datasets\FoodBalanceSheets_E_Africa_NOFLAG.csv")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
df.shape

(60943, 12)

## What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [28]:
df1 = df.groupby('Item').sum()
df1

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [16]:
df14 = df1[['Y2014','Y2017']]
df14

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [33]:
print(df14.loc['Animal fats'])
df14.loc['Animal fats'].sum()

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

479078.06999999995

## What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [39]:
dfstd=df.describe().loc[['mean','std']]
dfstd

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658

In [42]:
dfstd['Y2015'].round(3)

mean     135.236
std     1603.404
Name: Y2015, dtype: float64

## What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [65]:
df16 = df['Y2016']
df16

0        40551.00
1            0.00
2         3372.00
3           94.72
4           77.40
           ...
60938       33.00
60939        2.35
60940        3.00
60941        0.08
60942        0.03
Name: Y2016, Length: 60943, dtype: float64

In [67]:
#number of missing values in 2016
nul = df16.isnull().sum()
nul

1535

In [77]:
#Total missing values in the dataset
total_miss_item = list(df.isnull().sum())
na=total_miss_item[7:12]
sum2 = na[0]+na[1]+na[2]+na[3]
print(sum2)

6178

In [79]:
#Percentage of missing values in 2016 compared to the total observations in the dataset(number of row = 60943)
percent_missing = nul/60943 * 100
print(percent_missing)

2.5187470259094566

## Which year had the highest correlation with ‘Element Code’?

In [81]:
df_corr = df.corr()
df_corr

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [83]:
df_corr.loc['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

Y2014 has the maximum correlation with Element Code

## What year has the highest sum of Import Quantity?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [84]:
df['Element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [143]:
df5 = df.groupby('Element').sum()
df5.head(10)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97

In [144]:
df5.loc['Import Quantity'].to_dict()

{'Area Code': 688174.0,
 'Item Code': 13795966.0,
 'Element Code': 28834929.0,
 'Y2014': 274144.48,
 'Y2015': 267018.4600000001,
 'Y2016': 286582.7800000003,
 'Y2017': 294559.0900000001,
 'Y2018': 287997.08999999997}

In [145]:
df5.loc['Import Quantity']['Y2017']

294559.0900000001

Y2017 has the max import quantity

## What is the total number of the sum of Production in 2014?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [112]:
df5

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
...,...,...,...,...,...,...,...,...
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [115]:
df5.loc['Production'].to_dict()['Y2014']

1931287.7500000005

## Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [122]:
df5 = df[['Y2018', 'Element']]
df5

          Y2018                                 Element
0      42228.00           Total Population - Both sexes
1          0.00                Domestic supply quantity
2       3322.00           Food supply (kcal/capita/day)
3         91.83  Protein supply quantity (g/capita/day)
4         77.28      Fat supply quantity (g/capita/day)
...         ...                                     ...
60938     16.00                                    Food
60939      1.08     Food supply quantity (kg/capita/yr)
60940      1.00           Food supply (kcal/capita/day)
60941      0.04  Protein supply quantity (g/capita/day)
60942      0.01      Fat supply quantity (g/capita/day)

[60943 rows x 2 columns]

In [127]:
df6 = df5.groupby('Element').first().to_dict()
df6

{'Y2018': {'Domestic supply quantity': 0.0,
  'Export Quantity': 17.0,
  'Fat supply quantity (g/capita/day)': 77.28,
  'Feed': 5266.0,
  'Food': 9219.0,
  'Food supply (kcal/capita/day)': 3322.0,
  'Food supply quantity (kg/capita/yr)': 218.31,
  'Import Quantity': 13182.0,
  'Losses': 1253.0,
  'Other uses (non-food)': 951.0,
  'Processing': 44.0,
  'Production': 6065.0,
  'Protein supply quantity (g/capita/day)': 91.83,
  'Residuals': -8.0,
  'Seed': 278.0,
  'Stock Variation': 2226.0,
  'Total Population - Both sexes': 42228.0,
  'Tourist consumption': 0.0}}

In [138]:
df5.groupby('Element').first().max()

Y2018    42228.0
dtype: float64

element food has the third highest sum

## Which of these elements had the 3rd lowest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [139]:
df5.groupby('Element').first().min()

Y2018   -8.0
dtype: float64

## What is the total Import Quantity in Algeria in 2018?

Options

In [146]:
df5.loc['Import Quantity']['Y2018']

287997.08999999997

In [147]:
df['Area'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "C�te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [157]:
df7 = df[['Area','Element']]
df7.head()

      Area                                 Element
0  Algeria           Total Population - Both sexes
1  Algeria                Domestic supply quantity
2  Algeria           Food supply (kcal/capita/day)
3  Algeria  Protein supply quantity (g/capita/day)
4  Algeria      Fat supply quantity (g/capita/day)

In [169]:
df7.groupby('Element').first()

                                           Area
Element
Domestic supply quantity                Algeria
Export Quantity                         Algeria
Fat supply quantity (g/capita/day)      Algeria
Feed                                    Algeria
Food                                    Algeria
Food supply (kcal/capita/day)           Algeria
Food supply quantity (kg/capita/yr)     Algeria
Import Quantity                         Algeria
Losses                                  Algeria
Other uses (non-food)                   Algeria
Processing                              Algeria
Production                              Algeria
Protein supply quantity (g/capita/day)  Algeria
Residuals                               Algeria
Seed                                    Algeria
Stock Variation                         Algeria
Total Population - Both sexes           Algeria
Tourist consumption                      Angola

## What is the total number of unique countries in the dataset?

Options

In [173]:
df['Area'].nunique()

49