In [1]:
#Import libraries  and modules
import pandas as pd
import numpy as np

In [2]:
#Load the dataset
df = pd.read_csv(r'C:\Users\DELL\Desktop\Hamoye\FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='ISO-8859-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.shape

(60943, 12)

In [5]:
df.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2014           float64
Y2015           float64
Y2016           float64
Y2017           float64
Y2018           float64
dtype: object

In [6]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [14]:
correlations = {}
for year in range(2014, 2018):
    year_column = f'Y{year}'
    correlations[year_column] = df['Element Code'].corr(df[year_column])

# Find the year with the least correlation
least_correlation_year = min(correlations, key=lambda k: abs(correlations[k]))
least_correlation_value = correlations[least_correlation_year]

print(f"Year with the least correlation with 'Element Code': {least_correlation_year} (Correlation: {least_correlation_value:.3f})")

Year with the least correlation with 'Element Code': Y2016 (Correlation: 0.023)

In [16]:
correlations

{'Y2014': 0.024456819495221795,
 'Y2015': 0.02388919930163992,
 'Y2016': 0.023443997584961428,
 'Y2017': 0.02425400776004572}

In [7]:
# let's Perform a groupby operation on 'Element' to find the total sum of 'Processing' in 2017
processing_sum_2017 = df[df['Element'] == 'Processing']['Y2017'].sum()
processing_sum_2017

292836.0

In [8]:
# Perform a groupby sum aggregation on 'Item' and calculate the total sum of Wine produced in 2015 and 2018
wine_production = df[df['Item'] == 'Wine'].groupby('Item').agg({'Y2015': 'sum', 'Y2018': 'sum'})
wine_production

        Y2015    Y2018
Item
Wine  4251.81  4039.32

In [18]:
# Calculate the mean and standard deviation for the year 2017
mean_2017 = df['Y2017'].mean()
std_dev_2017 = df['Y2017'].std()

# Round the results to 2 decimal places
mean_2017_rounded = round(mean_2017, 2)
std_dev_2017_rounded = round(std_dev_2017, 2)

# Output the mean and standard deviation
print(f'Mean: {mean_2017_rounded}, Standard Deviation: {std_dev_2017_rounded}')

Mean: 140.92, Standard Deviation: 1671.86

In [9]:
# Calculate the total number of missing data in 2014
missing_values_2014 = df['Y2014'].isnull().sum()
total_values_2014 = df['Y2014'].size
percentage_missing_2014 = (missing_values_2014 / total_values_2014) * 100
print('missing_values_2014:', missing_values_2014,)
print('total_values_2014:',total_values_2014)
print('percentage_missing_2014:',percentage_missing_2014)

missing_values_2014: 1589
total_values_2014: 60943
percentage_missing_2014: 2.6073544131401474

In [10]:
# Perform a groupby operation on 'Area' and sum the values for the year 2017 and find the 7th lowest sum
area_sums_2017 = df.groupby('Area')['Y2017'].sum()
seventh_lowest_area = area_sums_2017.sort_values().iloc[6]

print('seventh_lowest_area:',seventh_lowest_area)

seventh_lowest_area: 19102.77

In [20]:
# Filter the data for Madagascar and the Element 'Protein supply quantity (g/capita/day)' for the year 2015
protein_supply_madagascar_2015 = df[
    (df['Area'] == 'Madagascar') & 
    (df['Element'] == 'Protein supply quantity (g/capita/day)')
]['Y2015'].sum()

# Print the total protein supply quantity
print(f'Total Protein Supply in Madagascar in 2015: {protein_supply_madagascar_2015}')

Total Protein Supply in Madagascar in 2015: 173.04999999999998

In [11]:
area_sums_2017.sort_values().iloc[6]

19102.77

In [12]:
# Calculate the total number of unique countries in the dataset
unique_countries = df['Area'].nunique()
unique_countries

49